@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes blink {
  50% {
    background: #fff;
  }
}

body.no-scroll {
  overflow: hidden;
}


.chips {
  height: 16px;
  margin-top: 5px;
  img {
    height: 16px;
    margin-right: 5px;
  }
}


.body-container {
  padding: 20px;
}

.order-list-container {
  margin-bottom: 20px;
}

  .orders-filter {
    display: flex;
    // justify-content: space-between;
    margin-top: 65px;
    label {
      color: #4a4a4a;
      height: 42px;
      background: #fff;
      border: 1px solid #9b9b9b;
      border-right: 0;
      font-size: 14px;
      text-transform: uppercase;
      padding: 11px 10px;
      vertical-align: middle;
    }
    // .date-filter {
    //   height: 42px;
    //   vertical-align: middle;
    //   border-radius: 0;
    //   border-color: #dfdfdf;
    //   color: #4a4a4a;
    // }
  }

.loader {
  position: absolute;
  top: 44%;
  left: 44%;
  width: 80px;
  height: 80px;
  border: 10px solid #dfdfdf;
  border-top: 10px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  background-color: #fff;
  // display: block;
  // transform: translate(-50%, -50%);
}


.orders-list {
  margin-top: 20px;
}

table.orders-list {
  // box-shadow: 0 0 4px 0 #9b9b9b;
  width: 100%;
  
  thead {
    font-size: 14px;
    font-weight: 600;
    background: #1a4f86;
    text-transform: uppercase;
    border: 0;
  }
  thead td {
    color: #fff;
    font-size: 14px;
  }
  tr {
    border-bottom: 1px solid #f6f6f6;
  }
  td {
    padding: 20px;
    font-size: 15px;
  }
  td:nth-child(2) {
    font-size: 14px;
  }
  td:nth-child(3) {
    text-align: center;
  }
  tbody {
    height: 50vh;
  }
}

.orders-list-item {
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #fff;
  width: 100%;
  padding: 20px;
  .col {
    color: #4a4a4a;
  }

  td:first-child {
    cursor: pointer;
    color: #4990ef;
    text-decoration: underline;
  }
  
  &:hover {
    background: #eaeaea;
  }
  &.danger {
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    // animation-iteration-count: infinite;
    background: #f8d7da;
    td {
      color: #721c24;
    }
  }
}
