@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.chips {
  height: 16px;
  margin-top: 5px;
  img {
    height: 16px;
    margin-right: 5px;
  }
}

.order-wrapper {
  // position: fixed;
  // margin-left: 288px;
  display: inline-block;
  width: calc(100% - 288px);
  height: calc(100vh - 65px);
  padding: 20px;
  background: #f6f6f6;
  overflow: auto;
  margin-top: 20px;
  // text-align: center;
  .orders-filter {
    display: block;
    top: 65px;
    left: 288px;
    label {
      color: #4a4a4a;
      height: 42px;
      background: #fff;
      border: 1px solid #dfdfdf;
      border-right: 0;
      font-size: 14px;
      text-transform: uppercase;
      padding: 11px 10px;
      vertical-align: middle;
    }
    // .date-filter {
    //   height: 42px;
    //   vertical-align: middle;
    //   border-radius: 0;
    //   border-color: #dfdfdf;
    //   color: #4a4a4a;
    // }
  }
}

.loader {
  position: absolute;
  top: 44%;
  left: 44%;
  width: 80px;
  height: 80px;
  border: 10px solid #dfdfdf;
  border-top: 10px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  background-color: #fff;
  // display: block;
  // transform: translate(-50%, -50%);
}


.orders-list {
  margin-top: 20px;
}

table.orders-list {
  box-shadow: 0 0 4px 0 #9b9b9b;
  width: 100%;
  margin-bottom: 20px;
  overflow: auto;
  height: 40vh;
  
  thead {
    font-size: 14px;
    font-weight: 600;
    background: #1a4f86;
    text-transform: uppercase;
    border: 0;
  }
  thead td {
    color: #fff;
    font-size: 14px;
  }
  tr {
    border-bottom: 1px solid #f6f6f6;
  }
  td {
    padding: 15px;
  }
  tbody {
    height: 50vh;
  }
}

.orders-list-item {
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #fff;
  width: 100%;
  padding: 20px;
  .col {
    color: #4a4a4a;
  }
  .order-status {
    width: 317px;
  }
  td:first-child {
    cursor: pointer;
    color: #4990ef;
  }
  &:hover {
    background: #eaeaea;
  }
}
