$font-family-sans-serif: 'Roboto', sans-serif;
$source-sans: 'Source Sans Pro', sans-serif;
$font-family-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$grey-border: #eee;
$grey-text: #aaa;
$black: #000;
$white: #fff;

html {
  font-size: 10px;

  @include lg {
    font-size: 12px;
  }

  @include xl {
    font-size: 14px;
  }
}

body {
  font-size: 16px;
  color: #4a4a4a;
  font-family: $source-sans;
  // overflow: hidden;
}

.main-wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.App {
  font-size: 1.8rem;
  padding: 2rem;

  @include md {
    padding: 3rem;
  }

  @include md {
    padding: 4rem;
  }
}

a {
  color: $grey-text;
}

a:hover {
  color: $black;
}

h1,
h2,
h3 {
  margin: 2rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

button {
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $source-sans;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
  &.btn {
    background-image: none;
    background-color: #fff;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    border-radius: 2px;
    padding: 5px 20px;
    color: #fff;
    transition: all 0.1s ease-in;
    &:focus {
      outline: 0;
    }
  }
  &.btn-green {
    border-color: #3ea03e;
    color: darken(#3ea03e, 10%);
    &:hover {
      background-color: #3ea03e;
      color: #fff;
    }
  }
  &.btn-red {
    border-color: #ef5e5e;
    color: darken(#ef5e5e, 10%);
    &:hover {
      background-color: #ef5e5e;
      color: #fff;
    }
  }

  &.btn-blue {
    border-color: #00b3ff;
    color: darken(#00b3ff, 10%);
    &:hover {
      background-color: #00b3ff;
      color: #fff;
    }
  }
  &.btn-black {
    background: #222;
  }
  &.btn-lg {
    width: 100%;
    max-width: 320px;
    height: 46px;
  }
}

input {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #9b9b9b;
  height: 46px;
  font-size: 16px;
  font-family: $source-sans;
  padding: 0 20px;
  &:focus {
    outline: 0;
  }
}

.Menu {
  align-items: center;
  border-bottom: 1px solid $grey-border;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin: 0 auto 2rem;
  max-width: 60rem;

  @include lg {
    margin-left: 20rem;
    margin: 0 0 2rem 20rem;
    padding-bottom: 0;
  }
}

.Menu img {
  display: block;
}

.Menu-logo {
  margin-right: 2rem;
  width: 6rem;

  @include lg {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    border-right: 1px solid $grey-border;
    width: 20rem;
    padding: 4rem;
  }
}

.Menu-links {
  @include md {
  }
}

.Menu-link {
  display: inline-block;
  font-family: $font-family-serif;
  font-style: italic;
  margin-left: 1.5rem;
  line-height: 3rem;
  text-decoration: none;

  @include md {
    margin-left: 3rem;
  }

  @include lg {
    margin: 0 3rem 0 0;
    line-height: 7.5rem;
  }
}

.Menu-link--active {
  color: $black;
}

.App {
  padding: 0;
  // padding-top: 70px;
}
.Page {
  // margin: 0 !important;
  background-color: #f6f6f6;
  max-width: 1440px;
  margin: 0 auto;
  // box-shadow: 0 0 4px 0 #9b9b9b;
  // @include lg {
  //   margin: 0 0 0 20rem;
  // }
  // background-image: url(../assets/icons/customer.png);
}
