.address-container {
  width: 50%;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.47);

  .header{
    background: #2f2f2f;
    color: #ffffff;
    padding: 15px;
  }

  .title {
    background: #686868;
    text-align: left;
  }

  .addresses {

    height: 250px;
    overflow-y: auto;

    .address {
      border-bottom: 1px solid #9b9b9b;
      font-size: 16px;
      padding: 10px;
      text-align: center;
      cursor: pointer;

      &:hover {
        background: #f6f6f6;
      }
    }

  }
}