.address-container {
  width: 50%;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.47);
  font-size: 14px;
  height: 402px;

  .header{
    background: #2f2f2f;
    color: #ffffff;
    padding: 12px;
    height: 42px;
  }

  .subtitle {
    background: #686868;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    height: 60px;
  }

  .addresses {

    height: 300px;
    overflow-y: auto;

    .address {
      border-bottom: 1px solid #9b9b9b;
      //font-size: 16px;
      padding: 10px;
      text-align: center;
      cursor: pointer;

      &:hover {
        background: #f6f6f6;
      }
    }

  }
}