.new-order-container {
  .cart {
    width: 46%;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.47);
    font-size: 14px;
    height: 382px;
     
    .header {
      background: #2f2f2f;
      color: #ffffff;
      padding: 12px;
      height: 42px;;
    }


    .cart-body {
      margin: 10px;
      font-size: 14px;
      
     
      .subheader {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #dfdfdf;
        font-weight: 600;
        height: 60px;

        // button {
        //   display: none;
        // }

        // button.show {
        //   display: block
        // }
      }
  
      .cart-header, .cart-item {
        display: flex;
        text-align: center;
        // justify-content: space-evenly;
        font-weight: 600;
        width: 100%;
        border-bottom: 1px solid #f6f6f6;
        padding: 10px;
        height: 40px;

  
        .brand {
          width: 40%;
        }
  
        .volume {
          width: 20%;
        }
  
        .price {
          width: 20%;
        }
  
        .quantity {
          width: 20%;
          span {
            margin: 0px 10px 0px 10px;
            text-align: center;
          }
        }

      }

      .cart-items {
        height: 170px;
        overflow-y: auto;
        position: relative;
      }

      .notification-message {
        text-align: center;
        width: 20%;
        box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.47);
        padding: 10px;
        margin: 0px 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
      }

      .place-order {
        width: 100%;
        padding-top: 10px;
        border-top: 1px solid #dfdfdf;
        height: 50px;
        
        button {
          float: right;
          padding: 10px 20px;
        }
      }

    }
  }
}