.new-order-container {
  .cart {
    width: 46%;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.47);
    font-size: 14px;
     
    .header {
      background: #2f2f2f;
      color: #ffffff;
      padding: 12px;
      height: 42px;;
    }


    .cart-body {
      margin: 10px;
      font-size: 14px;
     
      .subheader {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #dfdfdf;
        font-weight: 600;
        height: 60px;
      }
  
      .cart-header, .cart-item {
        display: flex;
        text-align: center;
        // justify-content: space-evenly;
        font-weight: 600;
        width: 100%;
        border-bottom: 1px solid #f6f6f6;
        height: auto;
  
        .brand {
          width: 40%;
        }
  
        .volume {
          width: 20%;
        }
  
        .price {
          width: 20%;
        }
  
        .quantity {
          width: 20%;
          span {
            margin: 0px 10px 0px 10px;
            text-align: center;
          }
        }

        .box-style {
          padding: 10px;
        }
      }

      .cart-items {
        height: 190px;
        overflow-y: auto;
      }

      .place-order {
        width: 100%;
        padding: 10px 20px;
        border-top: 1px solid #dfdfdf;
        height: 50px;
        
        button {
          float: right
        }
      }

    }
  }
}