.side-menu {
  // border-right: 1px solid #dfdfdf;
  box-shadow: 0 0 2px 0 #9b9b9b;
  background: #fff;
  width: 260px;
  height: calc(100vh - 125px);
  position: fixed;
  top: 85px;
  left: 20px;
  overflow: auto;
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    &:hover {
      li {
        background: #333;
        color: #fff;
      }
    }
  }
  li {
    cursor: pointer;
    color: #4a4a4a;
    list-style-type: none;
    font-size: 16px;
    padding: 20px;
    box-sizing: border-box;
    text-transform: capitalize;
    border-bottom: 1px solid #dfdfdf;
    &.active {
      background: #333;
      color: #fff;
    }
  }
}

body {
  background: #f6f6f6;
}
