header {
  // background-color: rgba(56,56,56,0.56);
  box-shadow: 0 1px 4px 0 #333;
  z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
  background: #333;
  height: 65px;
  width: 100%;
  li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }
  ul {
		position: relative;
    padding: 0;
    margin: 0;
  }
  .logo {
    background: #000;
    height: 65px;
    width: 65px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .resume-pause {
    padding: 0px 10px;
  	height: 32px;
  	width: 196px;
  	border: 1px solid #B2B2B2;
  	border-radius: 4px;
  	background-color: #686868;
    span {
			height: 17px;
			width: 17px;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
      &:first-child {
        width: 90%;
				margin-bottom: 3px;
      }
      &:nth-child(2) {
        width: 10%;
        text-align: right;
        cursor: pointer;
      }
    }
  }
	.user {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		color: #fff;
		font-size: 16px;
		cursor: pointer;
	}
}
